.autocompleteItem:not(:last-child) {
    border-bottom: 1px lightgray solid;
}

@media (max-width: 44rem) {
    .autocompleteItem:first-child {
        border-top: 1px lightgray solid;
    }
}

.selectableItem {
    display: block;
    width: 100%;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    overflow: hidden;
}

.highlightedItem,
.selectableItem:hover {
    background-color: #ececec;
}

.selectableItem:active {
    background-color: #c6c6c6;
}

.poiEntry {
    padding: 0.5em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    text-align: start;
    margin: 0.4rem 0.5rem;
}

.poiContent {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.poiEntryPrimaryText {
    font-weight: bold;
}

.geocodingEntry {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0.4rem 0.5rem;
}

.geocodingEntryContent {
    display: flex;
    align-items: center;
    gap: 8px;
}

.locationIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    flex-shrink: 0;
}

.textContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.mainText {
    font-weight: bold;
}

.secondaryText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: small;
    color: #5b616a;
}
