.mapOptionsContainer {
    position: absolute;
    z-index: 2;
    top: 80px;
    right: 10px;
    display: flex;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.options {
    width: 220px;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.option {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.layerButton {
    margin: 5px !important;
    width: 32px;
    height: 32px;
}

.layerButton svg {
    color: gray;
    height: 100%;
    width: 100%;
}
